:root {
  --bg-color: rgb(249, 251, 252);
  --text-color: #000000;
  --border-color: #e0e0e0;
  --navlink-color:#5d5d5d;
  --temp-color: #ffffff;
  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --color-text-secondary: #666666;
  --amount-positive: #2cbf75;
  --amount-negative: #f44336;
}

[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
  --border-color: #252525;
  --navlink-color: #bebebe;
  --temp-color: #000000;
  --card-shadow: 0 -1px 3px rgba(255, 255, 255, 0.1);
  --color-text-secondary: #999999;
  --amount-positive: #2cbf75;
  --amount-negative: #f44336;
}


.type-toggle {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.type-toggle button {
  flex: 1;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.income-btn.active {
  background-color: var(--amount-positive);
  color: var(--temp-color);
  font-size: 14px;
  
}
.expense-btn.active{
  background-color: var(--amount-negative);
  color: var(--temp-color);
  font-size: 14px;
}
.form-group {
  gap: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.form-group h5{
  display: inline;
  margin: 0;
}

.form-group input,
.form-group textarea {
  padding: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container-addtxn {
  padding:0; 
  position: relative;
}
.card-addtxn{
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px var(--card-shadow);
  background-color: var(--bg-color);

}

.card-addtxn h2{
  margin-bottom: 1rem;
}

.btn1 {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  background-color:var(--amount-positive);
  color: var(--temp-color);
  font-size: 16px;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's on top */
}

/* Modal Content */
.modal-content {
  background: #fff;
  padding: 0px;
  border-radius: 8px;
   position: relative;
  max-width: 100%;
  width:60%;
}

/* Close Button */
.close {
  top: 10px;
  right: 15px;
  font-size: 32px;
  
  cursor: pointer;
}



